 .u-section-1 {
  background-image: linear-gradient(to right, #06ddf3, rgba(67,197,209,0.611764705882353));
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 233px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  margin: 41px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 831px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 15px 32px 0;
}

.u-section-2 .u-image-1 {
  width: 1070px;
  height: 696px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  border-style: solid;
  margin: 39px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-2 .u-text-1 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-1 {
    inset: auto;
    width: 940px;
    height: 611px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 351px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 221px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 825px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 15px 93px 0;
}

.u-section-3 .u-image-1 {
  width: 1664px;
  height: 757px;
  object-position: 48.36% 50%;
  margin: -21px auto 8px -284px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-3 .u-text-1 {
    transition-duration: 0.5s;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 428px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 328px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 246px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 155px;
  }
}

.u-block-1bf5-100:not([data-block-selected]):not([data-cell-selected]),
.u-block-1bf5-100:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1bf5-100:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-1bf5-100:not([data-block-selected]):not([data-cell-selected]).u-block-1bf5-100:not([data-block-selected]):not([data-cell-selected]).u-block-1bf5-100:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-1bf5-100:not([data-block-selected]):not([data-cell-selected]).u-block-1bf5-100:not([data-block-selected]):not([data-cell-selected]).u-block-1bf5-100:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 774px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  width: 734px;
  margin: 40px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 15.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 15.3333px));
  min-height: 529px;
  grid-gap: 23px;
}

.u-section-4 .u-list-item-1 {
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-5 {
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-6 {
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: -116px;
    transition-duration: 0.5s;
  }

  .u-section-4 .u-list-1 {
    margin-top: 8px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 604px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: -115px;
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -195px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: -102px;
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -159px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: -128px;
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -887px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
} .u-section-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1012px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  margin: 36px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 37px 0 0;
}

.u-section-5 .u-slider-1 {
  min-height: 614px;
  width: 1030px;
  height: auto;
  margin: 68px 37px 49px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  background-image: linear-gradient(#48cbd8, #41807c);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 61px;
}

.u-section-5 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline !important;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 103px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 123px 734px 0 124px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 163px 0 211px;
}

.u-section-5 .u-carousel-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-5 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 42px auto 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 77px 776px 0 186px;
}

.u-section-5 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 139px 0 218px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 31px 746px 0 186px;
}

.u-section-5 .u-text-10 {
  font-size: 1.25rem;
  margin: 2px 156px 0 218px;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 28px 707px 0 186px;
}

.u-section-5 .u-text-12 {
  font-size: 1.25rem;
  margin: 7px 148px 0 218px;
}

.u-section-5 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 36px;
}

.u-section-5 .u-text-13 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 43px auto 0;
}

.u-section-5 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 59px 485px 0 85px;
}

.u-section-5 .u-text-15 {
  font-size: 1.25rem;
  margin: 0 50px 0 112px;
}

.u-section-5 .u-text-16 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 27px 415px 0 85px;
}

.u-section-5 .u-text-17 {
  font-size: 1.25rem;
  margin: 0 275px 0 112px;
}

.u-section-5 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 34px auto 0 85px;
}

.u-section-5 .u-text-19 {
  font-size: 1.25rem;
  margin: 0 292px 0 112px;
}

.u-section-5 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-5 .u-text-20 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 39px 107px 0 auto;
}

.u-section-5 .u-text-21 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 74px 721px 0 107px;
}

.u-section-5 .u-text-22 {
  font-size: 1.25rem;
  margin: 0 88px 0 129px;
}

.u-section-5 .u-text-23 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px 773px 0 107px;
}

.u-section-5 .u-text-24 {
  font-size: 1.25rem;
  margin: 0 88px 0 129px;
}

.u-section-5 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-25 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-26 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 41px 619px 0 40px;
}

.u-section-5 .u-text-27 {
  font-size: 1.25rem;
  margin: 0 0 0 78px;
}

.u-section-5 .u-text-28 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 13px 596px 0 40px;
}

.u-section-5 .u-text-29 {
  font-size: 1.25rem;
  margin: 6px 115px 0 52px;
}

.u-section-5 .u-text-30 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 596px 0 40px;
}

.u-section-5 .u-text-31 {
  font-size: 1.25rem;
  margin: 0 89px 0 78px;
}

 .u-section-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-5 .u-text-32 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 36px auto 0 108px;
}

.u-section-5 .u-text-33 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 94px 750px 0 102px;
}

.u-section-5 .u-text-34 {
  font-size: 1.25rem;
  margin: 6px 156px 0 124px;
}

.u-section-5 .u-text-35 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px 470px 0 102px;
}

.u-section-5 .u-text-36 {
  font-size: 1.25rem;
  margin: 0 73px 0 123px;
}

 .u-section-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-5 .u-text-32 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 36px auto 0 108px;
}

.u-section-5 .u-text-33 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 94px 750px 0 102px;
}

.u-section-5 .u-text-34 {
  font-size: 1.25rem;
  margin: 6px 156px 0 124px;
}

.u-section-5 .u-text-35 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px 470px 0 102px;
}

.u-section-5 .u-text-36 {
  font-size: 1.25rem;
  margin: 0 73px 0 123px;
}

.u-section-5 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-5 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    transition-duration: 0.5s;
  }

  .u-section-5 .u-slider-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 590px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 111px;
    margin-right: 63px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 640px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 118px;
    margin-right: 39px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 615px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 118px;
    margin-right: 56px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 583px;
  }

  .u-section-5 .u-text-12 {
    margin-left: 118px;
    margin-right: 48px;
  }

  .u-section-5 .u-text-14 {
    width: 388px;
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-5 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-16 {
    margin-right: 300px;
    margin-left: 0;
  }

  .u-section-5 .u-text-17 {
    margin-left: 12px;
    margin-right: 175px;
  }

  .u-section-5 .u-text-19 {
    margin-left: 12px;
    margin-right: 192px;
  }

  .u-section-5 .u-text-21 {
    margin-right: 621px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-22 {
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-5 .u-text-23 {
    margin-right: 673px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-24 {
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-5 .u-text-26 {
    margin-right: 459px;
    margin-left: 0;
  }

  .u-section-5 .u-text-27 {
    margin-left: 0;
  }

  .u-section-5 .u-text-28 {
    margin-right: 436px;
    margin-left: 0;
  }

  .u-section-5 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-30 {
    margin-right: 436px;
    margin-left: 0;
  }

  .u-section-5 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-33 {
    margin-right: 650px;
    margin-left: 2px;
  }

  .u-section-5 .u-text-34 {
    margin-left: 24px;
    margin-right: 56px;
  }

  .u-section-5 .u-text-35 {
    margin-right: 370px;
    margin-left: 2px;
  }

  .u-section-5 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-33 {
    margin-right: 650px;
    margin-left: 2px;
  }

  .u-section-5 .u-text-34 {
    margin-left: 24px;
    margin-right: 56px;
  }

  .u-section-5 .u-text-35 {
    margin-right: 370px;
    margin-left: 2px;
  }

  .u-section-5 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 476px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 490px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-right: 471px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-right: 447px;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 272px;
  }

  .u-section-5 .u-text-16 {
    margin-right: 92px;
  }

  .u-section-5 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-21 {
    margin-right: 408px;
    margin-left: 0;
  }

  .u-section-5 .u-text-22 {
    margin-left: 0;
  }

  .u-section-5 .u-text-23 {
    margin-right: 460px;
    margin-left: 0;
  }

  .u-section-5 .u-text-24 {
    margin-left: 0;
  }

  .u-section-5 .u-text-26 {
    margin-right: 239px;
  }

  .u-section-5 .u-text-28 {
    margin-right: 216px;
  }

  .u-section-5 .u-text-30 {
    margin-right: 216px;
  }

  .u-section-5 .u-text-33 {
    margin-right: 432px;
    margin-left: 0;
  }

  .u-section-5 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-35 {
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-5 .u-text-33 {
    margin-right: 432px;
    margin-left: 0;
  }

  .u-section-5 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-35 {
    margin-right: 152px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-slider-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2rem;
  }

  .u-section-5 .u-text-4 {
    margin-right: 375px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.1111111111111112rem;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 2rem;
  }

  .u-section-5 .u-text-7 {
    margin-right: 368px;
    margin-left: 140px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-9 {
    margin-right: 353px;
    margin-left: 140px;
  }

  .u-section-5 .u-text-10 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-11 {
    margin-right: 335px;
    margin-left: 140px;
  }

  .u-section-5 .u-text-12 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-13 {
    font-size: 2rem;
  }

  .u-section-5 .u-text-14 {
    margin-right: 132px;
  }

  .u-section-5 .u-text-15 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-16 {
    margin-right: 0;
  }

  .u-section-5 .u-text-17 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-19 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-20 {
    font-size: 2rem;
  }

  .u-section-5 .u-text-21 {
    margin-right: 228px;
  }

  .u-section-5 .u-text-22 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-23 {
    margin-right: 280px;
  }

  .u-section-5 .u-text-24 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-25 {
    font-size: 2rem;
  }

  .u-section-5 .u-text-26 {
    margin-right: 99px;
  }

  .u-section-5 .u-text-27 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-28 {
    font-size: 1.1111111111111112rem;
    margin-right: 76px;
  }

  .u-section-5 .u-text-29 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-30 {
    font-size: 1.1111111111111112rem;
    margin-right: 76px;
  }

  .u-section-5 .u-text-31 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-32 {
    font-size: 2rem;
  }

  .u-section-5 .u-text-33 {
    margin-right: 252px;
  }

  .u-section-5 .u-text-34 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-35 {
    margin-right: 0;
  }

  .u-section-5 .u-text-36 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-32 {
    font-size: 2rem;
  }

  .u-section-5 .u-text-33 {
    margin-right: 252px;
  }

  .u-section-5 .u-text-34 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-35 {
    margin-right: 0;
  }

  .u-section-5 .u-text-36 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-slider-1 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 231px;
    margin-left: 76px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 232px;
    margin-left: 88px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 222px;
    margin-left: 88px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 211px;
    margin-left: 88px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 0;
    width: 320px;
  }

  .u-section-5 .u-text-21 {
    margin-right: 28px;
  }

  .u-section-5 .u-text-23 {
    margin-right: 80px;
  }

  .u-section-5 .u-text-26 {
    margin-right: 0;
  }

  .u-section-5 .u-text-28 {
    margin-right: 0;
  }

  .u-section-5 .u-text-30 {
    margin-right: 0;
  }

  .u-section-5 .u-text-33 {
    margin-right: 52px;
  }

  .u-section-5 .u-text-33 {
    margin-right: 52px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 831px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  font-size: 4.5rem;
  margin: 84px 166px 0 auto;
}

.u-section-6 .u-list-1 {
  margin-top: 106px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 19px 34px 0;
}

.u-section-6 .u-text-4 {
  width: 298px;
  margin: 15px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-6 {
  margin: 19px 34px 0;
}

.u-section-6 .u-text-7 {
  width: 298px;
  font-style: italic;
  margin: 15px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-9 {
  margin: 19px 34px 0;
}

.u-section-6 .u-text-10 {
  width: 298px;
  font-style: italic;
  margin: 15px auto 0;
}

.u-section-6 .u-text-11 {
  margin: 25px 166px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    transition-duration: 0.5s;
    font-size: 3.75rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 105px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 105px;
  }
}